.abilities {
  width: 100%;
  max-width: 1200px;
  padding: 30px 0 0;
  margin: 0 auto;
}

.abilities__heading {
  margin: 0 0 20px;
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
  text-align: left;
  color: #ff3c00;
}

.abilities__description {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: left;
  margin: 0;
}

.abilities__containers {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 777px;
  margin-right: 30px;
  padding: 0;
  /* width: 578px; */
}

.abilities__container {
  margin: 10px 0;
}

.abilities__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0.01em;
  line-height: 20px;
  text-transform: uppercase;
  white-space: nowrap;
}

.abilities__line {
  background: rgba(96, 107, 133, 0.5);
  height: 1px;
  margin: 0 10px;
  width: 100%;
}

.abilities__items {
  display: flex;
  gap: 10px;
}

.abilities__item {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
  position: relative;
  flex: 1 1;
  margin-bottom: 0;
  /* max-width: 50%; */
}

.abilities__text-item {
  background: #20222c;
  border: 1px solid #606b85;
  border-radius: 6px 0 0 6px;
  padding: 4px 0;
  width: 100%;
  position: relative;
}

.abilities__subtitle {
  font-size: 11px;
  margin: 0;
  font-weight: 700;
  letter-spacing: 0.01em;
  padding: 0;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}

.abilities__number-item {
  background: #272e43;
  border: 1px solid #606b85;
  border-radius: 5px;
  cursor: pointer;
  min-width: 46px;
  padding: 4px 0 3px;
}

.abilities__subnumber {
  font-size: 19px;
  font-weight: 700;
  line-height: 27px;
  margin: 0;
  position: relative;
}

.abilities__label {
  position: absolute;
  background: #20222c;
  border: 1px solid #606b85;
  height: 15px;
  width: 15px;
}

.abilities__input {
  display: none;
}
