.App {
  text-align: center;
  position: relative;
  background-color: #222027;
  color: beige;
  box-sizing: border-box;
  padding: 0 10px;
}

.info {
  padding: 80px 0 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 900px;
}

.info__title {
  margin: 0;
  font-weight: 600;
  font-size: 80px;
  line-height: 85px;
  text-transform: uppercase;
}

.info__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
}
