.App {
  text-align: center;
  text-rendering: optimizeLegibility;
  position: relative;
  background-color: #222027;
  background: radial-gradient(ellipse at bottom, #352b1b 0%, #0f0909 100%);
  color: beige;
  box-sizing: border-box;
  padding: 0 10px;
}

.info {
  padding: 80px 0;
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info__heading {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  width: 100%;
  max-width: 900px;
}

.info__title {
  margin: 0;
  font-weight: 600;
  font-size: 80px;
  line-height: 85px;
  text-transform: uppercase;
  color: rgb(255, 204, 103);
}

.info__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: justify;
}

.info__subheading {
  text-align: justify;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  max-width: 900px;
}

.info__maintext {
  font-weight: 600;
  font-size: 18px;
  color: #fd6804;
  margin: 0;
}

.info__text {
  font-weight: 600;
  font-size: 16px;
  color: #ffcc9a;
}

.info__link {
  text-decoration: none;
  color: aquamarine;
  transition: all 0.3s ease;
}

.info__link:hover {
  opacity: 0.8;
}

.info__important {
  font-size: 16px;
  color: #ff7b00;
}

.info__more {
  font-size: 16px;
  color: #ff3c00;
}

.info__description {
  margin: 10px 0 0;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 785px 1440px #ff7b00, 1656px 752px #ff7b00, 945px 1699px #ff7b00,
    358px 442px #ff7b00, 730px 1639px #ff7b00, 1489px 427px #ff7b00,
    1134px 1408px #ff7b00, 1620px 435px #ff7b00, 758px 1131px #ff7b00,
    1930px 176px #ff7b00, 613px 394px #ff7b00, 994px 1769px #ff7b00,
    137px 995px #ff7b00, 975px 1664px #ff7b00, 1308px 1421px #ff7b00,
    653px 117px #ff7b00, 1297px 443px #ff7b00, 1803px 1551px #ff7b00,
    57px 1304px #ff7b00, 1006px 985px #ff7b00, 1147px 771px #ff7b00,
    487px 394px #ff7b00, 1148px 1328px #ff7b00, 858px 1537px #ff7b00,
    1595px 415px #ff7b00, 1325px 1801px #ff7b00, 1549px 1569px #ff7b00,
    1131px 1538px #ff7b00, 1268px 477px #ff7b00, 771px 1596px #ff7b00,
    1486px 1771px #ff7b00, 1481px 1961px #ff7b00, 517px 1988px #ff7b00,
    642px 588px #ff7b00, 1835px 1441px #ff7b00, 569px 716px #ff7b00,
    1604px 572px #ff7b00, 1782px 441px #ff7b00, 1218px 503px #ff7b00,
    1402px 684px #ff7b00, 1303px 621px #ff7b00, 892px 641px #ff7b00,
    1254px 1496px #ff7b00, 234px 669px #ff7b00, 554px 1039px #ff7b00,
    312px 175px #ff7b00, 1243px 1897px #ff7b00, 234px 897px #ff7b00,
    1617px 437px #ff7b00, 687px 171px #ff7b00, 1821px 1883px #ff7b00,
    296px 1056px #ff7b00, 1046px 1205px #ff7b00, 577px 221px #ff7b00,
    886px 1764px #ff7b00, 473px 482px #ff7b00, 1556px 270px #ff7b00,
    1607px 352px #ff7b00, 1993px 685px #ff7b00, 109px 1592px #ff7b00,
    1335px 235px #ff7b00, 680px 548px #ff7b00, 1917px 1834px #ff7b00,
    865px 362px #ff7b00, 1349px 1092px #ff7b00, 475px 1491px #ff7b00,
    1096px 955px #ff7b00, 1863px 228px #ff7b00, 1635px 233px #ff7b00,
    1313px 1688px #ff7b00, 180px 1258px #ff7b00, 1397px 988px #ff7b00,
    882px 867px #ff7b00, 484px 912px #ff7b00, 1358px 837px #ff7b00,
    1821px 1229px #ff7b00, 1287px 1689px #ff7b00, 36px 880px #ff7b00,
    1594px 682px #ff7b00, 613px 195px #ff7b00, 1305px 941px #ff7b00,
    559px 1362px #ff7b00, 1142px 859px #ff7b00, 921px 850px #ff7b00,
    12px 1630px #ff7b00, 554px 979px #ff7b00, 1708px 1290px #ff7b00,
    1492px 1522px #ff7b00, 1112px 169px #ff7b00, 624px 48px #ff7b00,
    829px 1442px #ff7b00, 1018px 283px #ff7b00, 1433px 97px #ff7b00,
    1084px 1719px #ff7b00, 1794px 1900px #ff7b00, 1410px 1216px #ff7b00,
    1180px 341px #ff7b00, 135px 950px #ff7b00, 1306px 905px #ff7b00,
    651px 9px #ff7b00, 663px 770px #ff7b00, 566px 1280px #ff7b00,
    1930px 1879px #ff7b00, 418px 1230px #ff7b00, 1245px 1522px #ff7b00,
    1852px 1498px #ff7b00, 1634px 193px #ff7b00, 841px 1197px #ff7b00,
    661px 1667px #ff7b00, 291px 620px #ff7b00, 1527px 587px #ff7b00,
    818px 822px #ff7b00, 765px 1858px #ff7b00, 1270px 1151px #ff7b00,
    687px 918px #ff7b00, 404px 980px #ff7b00, 371px 773px #ff7b00,
    492px 238px #ff7b00, 115px 717px #ff7b00, 1164px 1120px #ff7b00,
    1036px 508px #ff7b00, 419px 96px #ff7b00, 883px 1048px #ff7b00,
    220px 929px #ff7b00, 1275px 1476px #ff7b00, 1633px 1370px #ff7b00,
    754px 316px #ff7b00, 1566px 1027px #ff7b00, 1728px 1410px #ff7b00,
    319px 1731px #ff7b00, 191px 1326px #ff7b00, 391px 1419px #ff7b00,
    1495px 1885px #ff7b00, 1393px 675px #ff7b00, 543px 720px #ff7b00,
    1254px 289px #ff7b00, 641px 1676px #ff7b00, 1391px 393px #ff7b00,
    1774px 1714px #ff7b00, 1079px 1130px #ff7b00, 1536px 141px #ff7b00,
    1121px 131px #ff7b00, 1045px 896px #ff7b00, 1719px 1476px #ff7b00,
    672px 1967px #ff7b00, 209px 1962px #ff7b00, 1504px 784px #ff7b00,
    1164px 1880px #ff7b00, 205px 1455px #ff7b00, 1090px 1043px #ff7b00,
    1648px 1369px #ff7b00, 905px 176px #ff7b00, 40px 1840px #ff7b00,
    357px 721px #ff7b00, 1262px 469px #ff7b00, 1889px 1140px #ff7b00,
    1706px 1487px #ff7b00, 98px 1723px #ff7b00, 1564px 332px #ff7b00,
    1688px 495px #ff7b00, 1844px 1691px #ff7b00, 1788px 1158px #ff7b00,
    1222px 1070px #ff7b00, 54px 605px #ff7b00, 1850px 1335px #ff7b00,
    1899px 776px #ff7b00, 1459px 1942px #ff7b00, 1370px 1906px #ff7b00,
    1017px 1359px #ff7b00, 1485px 859px #ff7b00, 405px 1235px #ff7b00,
    1529px 962px #ff7b00, 348px 74px #ff7b00, 165px 1114px #ff7b00,
    1972px 441px #ff7b00, 92px 1874px #ff7b00, 966px 253px #ff7b00,
    281px 733px #ff7b00, 1759px 1235px #ff7b00, 461px 1224px #ff7b00,
    1849px 234px #ff7b00, 1316px 457px #ff7b00, 390px 343px #ff7b00,
    1888px 1030px #ff7b00, 1705px 1778px #ff7b00, 734px 1365px #ff7b00,
    589px 1227px #ff7b00, 1586px 1163px #ff7b00, 768px 841px #ff7b00,
    1643px 1619px #ff7b00, 1527px 1909px #ff7b00, 249px 690px #ff7b00,
    1894px 209px #ff7b00, 269px 106px #ff7b00, 1040px 1323px #ff7b00,
    1162px 873px #ff7b00, 939px 1074px #ff7b00, 245px 842px #ff7b00,
    702px 657px #ff7b00, 1300px 286px #ff7b00, 1452px 419px #ff7b00,
    9px 318px #ff7b00, 1198px 1073px #ff7b00, 1449px 1463px #ff7b00,
    1207px 103px #ff7b00, 1532px 42px #ff7b00, 19px 874px #ff7b00,
    474px 720px #ff7b00, 1579px 579px #ff7b00, 814px 57px #ff7b00,
    939px 675px #ff7b00, 1407px 490px #ff7b00, 460px 565px #ff7b00,
    1314px 2000px #ff7b00, 567px 1187px #ff7b00, 197px 559px #ff7b00,
    10px 840px #ff7b00, 1149px 1455px #ff7b00, 1918px 867px #ff7b00,
    1992px 1999px #ff7b00, 912px 1824px #ff7b00, 124px 1015px #ff7b00,
    626px 1967px #ff7b00, 584px 626px #ff7b00, 896px 647px #ff7b00,
    1287px 682px #ff7b00, 1524px 1205px #ff7b00, 642px 682px #ff7b00,
    1846px 1584px #ff7b00, 1869px 1963px #ff7b00, 291px 1844px #ff7b00,
    1559px 1859px #ff7b00, 203px 1087px #ff7b00, 1277px 934px #ff7b00,
    1888px 818px #ff7b00, 202px 162px #ff7b00, 896px 1060px #ff7b00,
    1311px 1220px #ff7b00, 1738px 938px #ff7b00, 983px 161px #ff7b00,
    1258px 1900px #ff7b00, 1083px 401px #ff7b00, 882px 185px #ff7b00,
    594px 983px #ff7b00, 1128px 1106px #ff7b00, 401px 705px #ff7b00,
    873px 1121px #ff7b00, 1998px 260px #ff7b00, 192px 674px #ff7b00,
    1040px 1484px #ff7b00, 239px 1703px #ff7b00, 247px 311px #ff7b00,
    756px 1455px #ff7b00, 207px 1426px #ff7b00, 607px 720px #ff7b00,
    1701px 1005px #ff7b00, 82px 1273px #ff7b00, 1657px 1967px #ff7b00,
    23px 883px #ff7b00, 1678px 837px #ff7b00, 1314px 1208px #ff7b00,
    281px 1788px #ff7b00, 1428px 1804px #ff7b00, 1129px 1949px #ff7b00,
    1766px 268px #ff7b00, 1811px 248px #ff7b00, 1766px 1630px #ff7b00,
    944px 1194px #ff7b00, 894px 1402px #ff7b00, 1489px 618px #ff7b00,
    524px 1492px #ff7b00, 242px 1741px #ff7b00, 777px 1047px #ff7b00,
    271px 94px #ff7b00, 314px 161px #ff7b00, 382px 678px #ff7b00,
    339px 1526px #ff7b00, 1855px 354px #ff7b00, 1369px 841px #ff7b00,
    96px 889px #ff7b00, 20px 696px #ff7b00, 1503px 1325px #ff7b00,
    987px 366px #ff7b00, 330px 979px #ff7b00, 1076px 432px #ff7b00,
    131px 189px #ff7b00, 509px 943px #ff7b00, 646px 1321px #ff7b00,
    1453px 1349px #ff7b00, 538px 1519px #ff7b00, 1671px 1462px #ff7b00,
    1599px 301px #ff7b00, 1038px 1939px #ff7b00, 926px 591px #ff7b00,
    1445px 1418px #ff7b00, 847px 303px #ff7b00, 1310px 1349px #ff7b00,
    717px 1359px #ff7b00, 222px 591px #ff7b00, 17px 1400px #ff7b00,
    1394px 426px #ff7b00, 546px 1305px #ff7b00, 295px 1745px #ff7b00,
    105px 237px #ff7b00, 1041px 82px #ff7b00, 182px 982px #ff7b00,
    1822px 442px #ff7b00, 159px 326px #ff7b00, 1851px 1066px #ff7b00,
    1942px 272px #ff7b00, 437px 1615px #ff7b00, 1578px 1936px #ff7b00,
    1361px 143px #ff7b00, 1675px 519px #ff7b00, 1304px 894px #ff7b00,
    1415px 166px #ff7b00, 186px 80px #ff7b00, 1064px 1667px #ff7b00,
    1983px 1012px #ff7b00, 1663px 1901px #ff7b00, 1671px 530px #ff7b00,
    1353px 264px #ff7b00, 724px 1144px #ff7b00, 472px 207px #ff7b00,
    1498px 401px #ff7b00, 243px 462px #ff7b00, 37px 590px #ff7b00,
    1180px 1388px #ff7b00, 314px 532px #ff7b00, 1668px 1118px #ff7b00,
    528px 1661px #ff7b00, 767px 453px #ff7b00, 1346px 891px #ff7b00,
    954px 1156px #ff7b00, 993px 1002px #ff7b00, 879px 1576px #ff7b00,
    481px 86px #ff7b00, 788px 754px #ff7b00, 1499px 1664px #ff7b00,
    1468px 1640px #ff7b00, 1362px 1877px #ff7b00, 1886px 269px #ff7b00,
    1691px 1799px #ff7b00, 1130px 1149px #ff7b00, 484px 320px #ff7b00,
    102px 36px #ff7b00, 1423px 396px #ff7b00, 2000px 1005px #ff7b00,
    768px 1863px #ff7b00, 1791px 1679px #ff7b00, 1269px 1453px #ff7b00,
    1158px 938px #ff7b00, 1960px 1820px #ff7b00, 151px 1296px #ff7b00,
    214px 325px #ff7b00, 19px 1713px #ff7b00, 1684px 1276px #ff7b00,
    1093px 1054px #ff7b00, 1684px 87px #ff7b00, 962px 1473px #ff7b00,
    1840px 238px #ff7b00, 1563px 1367px #ff7b00, 1065px 627px #ff7b00,
    569px 1768px #ff7b00, 70px 456px #ff7b00, 1183px 960px #ff7b00,
    899px 1839px #ff7b00, 1875px 1652px #ff7b00, 1060px 549px #ff7b00,
    796px 575px #ff7b00, 34px 886px #ff7b00, 762px 388px #ff7b00,
    1702px 1057px #ff7b00, 591px 1549px #ff7b00, 297px 811px #ff7b00,
    593px 1079px #ff7b00, 1838px 1615px #ff7b00, 68px 1983px #ff7b00,
    1054px 1794px #ff7b00, 229px 1771px #ff7b00, 1726px 789px #ff7b00,
    833px 1032px #ff7b00, 622px 1043px #ff7b00, 1298px 789px #ff7b00,
    169px 1637px #ff7b00, 377px 1317px #ff7b00, 919px 1217px #ff7b00,
    146px 1581px #ff7b00, 1321px 597px #ff7b00, 1871px 577px #ff7b00,
    279px 1661px #ff7b00, 226px 1585px #ff7b00, 538px 419px #ff7b00,
    1495px 1262px #ff7b00, 58px 1421px #ff7b00, 1484px 180px #ff7b00,
    1824px 1742px #ff7b00, 63px 153px #ff7b00, 820px 1654px #ff7b00,
    1862px 158px #ff7b00, 6px 303px #ff7b00, 808px 1580px #ff7b00,
    1361px 44px #ff7b00, 1300px 158px #ff7b00, 1614px 165px #ff7b00,
    603px 226px #ff7b00, 383px 1085px #ff7b00, 1089px 539px #ff7b00,
    1536px 989px #ff7b00, 915px 1819px #ff7b00, 1560px 235px #ff7b00,
    1228px 1767px #ff7b00, 1546px 386px #ff7b00, 1203px 1322px #ff7b00,
    1290px 1063px #ff7b00, 506px 706px #ff7b00, 406px 521px #ff7b00,
    1102px 297px #ff7b00, 952px 896px #ff7b00, 1080px 477px #ff7b00,
    524px 1026px #ff7b00, 680px 1544px #ff7b00, 1654px 639px #ff7b00,
    845px 1980px #ff7b00, 1304px 1236px #ff7b00, 265px 1848px #ff7b00,
    1705px 809px #ff7b00, 1224px 708px #ff7b00, 780px 1891px #ff7b00,
    405px 1329px #ff7b00, 1236px 253px #ff7b00, 438px 1033px #ff7b00,
    1309px 830px #ff7b00, 794px 1564px #ff7b00, 35px 1646px #ff7b00,
    937px 1671px #ff7b00, 1473px 1608px #ff7b00, 1499px 210px #ff7b00,
    763px 1927px #ff7b00, 18px 1465px #ff7b00, 1352px 531px #ff7b00,
    1063px 1464px #ff7b00, 349px 480px #ff7b00, 1910px 476px #ff7b00,
    802px 1745px #ff7b00, 139px 1520px #ff7b00, 1804px 1510px #ff7b00,
    1654px 1038px #ff7b00, 1642px 740px #ff7b00, 315px 51px #ff7b00,
    1443px 1625px #ff7b00, 877px 126px #ff7b00, 768px 1493px #ff7b00,
    1995px 553px #ff7b00, 1234px 1101px #ff7b00, 404px 1037px #ff7b00,
    1751px 1618px #ff7b00, 1904px 671px #ff7b00, 1365px 943px #ff7b00,
    1829px 1502px #ff7b00, 1273px 325px #ff7b00, 1680px 51px #ff7b00,
    1450px 539px #ff7b00, 164px 445px #ff7b00, 1866px 989px #ff7b00,
    301px 1090px #ff7b00, 935px 1225px #ff7b00, 378px 1760px #ff7b00,
    607px 549px #ff7b00, 646px 1947px #ff7b00, 1056px 1273px #ff7b00,
    991px 989px #ff7b00, 278px 115px #ff7b00, 1547px 58px #ff7b00,
    223px 876px #ff7b00, 1957px 94px #ff7b00, 1016px 674px #ff7b00,
    1035px 476px #ff7b00, 1794px 1536px #ff7b00, 1284px 1052px #ff7b00,
    932px 1616px #ff7b00, 377px 309px #ff7b00, 67px 275px #ff7b00,
    1377px 185px #ff7b00, 310px 1304px #ff7b00, 1793px 551px #ff7b00,
    620px 1269px #ff7b00, 742px 1991px #ff7b00, 513px 1625px #ff7b00,
    948px 1276px #ff7b00, 750px 1928px #ff7b00, 690px 941px #ff7b00,
    1487px 468px #ff7b00, 59px 1504px #ff7b00, 1554px 958px #ff7b00,
    225px 1062px #ff7b00, 655px 832px #ff7b00, 132px 1466px #ff7b00,
    2000px 971px #ff7b00, 289px 234px #ff7b00, 852px 754px #ff7b00,
    1131px 1666px #ff7b00, 942px 427px #ff7b00, 1674px 1133px #ff7b00,
    1668px 552px #ff7b00, 929px 1353px #ff7b00, 1213px 963px #ff7b00,
    1617px 919px #ff7b00, 38px 145px #ff7b00, 56px 1030px #ff7b00,
    1621px 835px #ff7b00, 423px 509px #ff7b00, 1403px 1195px #ff7b00,
    1378px 1468px #ff7b00, 561px 1625px #ff7b00, 258px 929px #ff7b00,
    1475px 1127px #ff7b00, 1443px 177px #ff7b00, 1660px 1771px #ff7b00,
    817px 1328px #ff7b00, 1822px 1002px #ff7b00, 1565px 237px #ff7b00,
    1377px 638px #ff7b00, 619px 424px #ff7b00, 753px 1182px #ff7b00,
    502px 674px #ff7b00, 1100px 788px #ff7b00, 931px 515px #ff7b00,
    1716px 689px #ff7b00, 591px 270px #ff7b00, 272px 627px #ff7b00,
    1576px 466px #ff7b00, 1401px 1809px #ff7b00, 1375px 997px #ff7b00,
    1133px 1556px #ff7b00, 1326px 439px #ff7b00, 1801px 1445px #ff7b00,
    409px 447px #ff7b00, 212px 617px #ff7b00, 1438px 1766px #ff7b00,
    410px 767px #ff7b00, 82px 1180px #ff7b00, 973px 438px #ff7b00,
    1056px 27px #ff7b00, 1104px 137px #ff7b00, 889px 1330px #ff7b00,
    1017px 1867px #ff7b00, 746px 1519px #ff7b00, 1441px 942px #ff7b00,
    139px 1013px #ff7b00, 1966px 1812px #ff7b00, 967px 1057px #ff7b00,
    356px 840px #ff7b00, 400px 1283px #ff7b00, 1424px 1306px #ff7b00,
    720px 726px #ff7b00, 402px 1889px #ff7b00, 445px 1627px #ff7b00,
    1021px 1535px #ff7b00, 614px 166px #ff7b00, 1452px 1021px #ff7b00,
    1292px 1620px #ff7b00, 1245px 1553px #ff7b00, 1939px 275px #ff7b00,
    1975px 1462px #ff7b00, 1865px 210px #ff7b00, 846px 1994px #ff7b00,
    8px 1539px #ff7b00, 714px 407px #ff7b00, 1199px 1367px #ff7b00,
    673px 464px #ff7b00, 1745px 1811px #ff7b00, 1140px 1036px #ff7b00,
    899px 1086px #ff7b00, 1740px 496px #ff7b00, 1311px 267px #ff7b00,
    1995px 1514px #ff7b00, 1133px 760px #ff7b00, 1688px 1836px #ff7b00,
    626px 366px #ff7b00, 37px 1495px #ff7b00, 834px 1255px #ff7b00,
    1605px 1505px #ff7b00, 732px 1912px #ff7b00, 872px 440px #ff7b00,
    324px 1686px #ff7b00, 403px 279px #ff7b00, 1358px 1038px #ff7b00,
    1274px 226px #ff7b00, 505px 1352px #ff7b00, 355px 1061px #ff7b00,
    1064px 697px #ff7b00, 1022px 684px #ff7b00, 1062px 1742px #ff7b00,
    1007px 993px #ff7b00, 645px 1324px #ff7b00, 1348px 549px #ff7b00,
    906px 483px #ff7b00, 1319px 1472px #ff7b00, 128px 1454px #ff7b00,
    20px 1360px #ff7b00, 1189px 1519px #ff7b00, 1050px 853px #ff7b00,
    1696px 1017px #ff7b00, 29px 1907px #ff7b00, 1017px 638px #ff7b00,
    1905px 882px #ff7b00, 160px 1033px #ff7b00, 1043px 843px #ff7b00,
    1529px 121px #ff7b00, 382px 673px #ff7b00, 1399px 452px #ff7b00,
    1342px 1265px #ff7b00, 614px 1479px #ff7b00, 217px 1222px #ff7b00,
    1183px 441px #ff7b00, 588px 89px #ff7b00, 899px 1837px #ff7b00,
    1708px 1661px #ff7b00, 1150px 1770px #ff7b00, 1296px 1742px #ff7b00,
    848px 1464px #ff7b00, 1613px 1686px #ff7b00, 416px 1047px #ff7b00,
    447px 483px #ff7b00, 307px 1444px #ff7b00, 1904px 1490px #ff7b00,
    1493px 777px #ff7b00, 906px 800px #ff7b00, 1529px 70px #ff7b00,
    846px 456px #ff7b00, 1250px 1288px #ff7b00, 767px 245px #ff7b00,
    794px 723px #ff7b00, 990px 1653px #ff7b00, 1201px 1952px #ff7b00,
    1815px 537px #ff7b00, 106px 1958px #ff7b00, 146px 867px #ff7b00,
    1923px 1731px #ff7b00, 87px 877px #ff7b00, 1663px 1769px #ff7b00,
    1233px 228px #ff7b00, 544px 378px #ff7b00, 182px 1800px #ff7b00,
    53px 1661px #ff7b00, 635px 988px #ff7b00, 1490px 1199px #ff7b00,
    1015px 732px #ff7b00, 595px 1970px #ff7b00, 870px 1596px #ff7b00,
    1755px 913px #ff7b00, 1785px 735px #ff7b00, 212px 299px #ff7b00,
    915px 1895px #ff7b00, 1818px 1568px #ff7b00, 1326px 135px #ff7b00,
    1436px 111px #ff7b00, 561px 1695px #ff7b00, 232px 439px #ff7b00,
    1660px 1435px #ff7b00, 201px 1725px #ff7b00, 1466px 904px #ff7b00,
    467px 1067px #ff7b00, 471px 536px #ff7b00, 685px 705px #ff7b00,
    1911px 315px #ff7b00, 324px 1050px #ff7b00, 1412px 26px #ff7b00,
    210px 295px #ff7b00, 356px 1553px #ff7b00, 1673px 1275px #ff7b00,
    899px 1252px #ff7b00, 1630px 630px #ff7b00, 1538px 984px #ff7b00,
    1330px 1099px #ff7b00, 1449px 550px #ff7b00, 807px 881px #ff7b00,
    1344px 1334px #ff7b00, 1529px 1838px #ff7b00, 1624px 1320px #ff7b00,
    75px 1206px #ff7b00, 1261px 1201px #ff7b00, 1515px 1577px #ff7b00,
    1233px 47px #ff7b00, 486px 140px #ff7b00, 1591px 1386px #ff7b00,
    196px 688px #ff7b00, 855px 1086px #ff7b00, 538px 1551px #ff7b00,
    1019px 1122px #ff7b00, 665px 1600px #ff7b00, 1666px 1979px #ff7b00,
    1329px 557px #ff7b00, 1213px 1281px #ff7b00, 1784px 1614px #ff7b00,
    1766px 30px #ff7b00, 831px 1591px #ff7b00, 1589px 207px #ff7b00,
    1660px 1151px #ff7b00;
  -webkit-animation: animStar 50s linear infinite;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 785px 1440px #ff7b00, 1656px 752px #ff7b00, 945px 1699px #ff7b00,
    358px 442px #ff7b00, 730px 1639px #ff7b00, 1489px 427px #ff7b00,
    1134px 1408px #ff7b00, 1620px 435px #ff7b00, 758px 1131px #ff7b00,
    1930px 176px #ff7b00, 613px 394px #ff7b00, 994px 1769px #ff7b00,
    137px 995px #ff7b00, 975px 1664px #ff7b00, 1308px 1421px #ff7b00,
    653px 117px #ff7b00, 1297px 443px #ff7b00, 1803px 1551px #ff7b00,
    57px 1304px #ff7b00, 1006px 985px #ff7b00, 1147px 771px #ff7b00,
    487px 394px #ff7b00, 1148px 1328px #ff7b00, 858px 1537px #ff7b00,
    1595px 415px #ff7b00, 1325px 1801px #ff7b00, 1549px 1569px #ff7b00,
    1131px 1538px #ff7b00, 1268px 477px #ff7b00, 771px 1596px #ff7b00,
    1486px 1771px #ff7b00, 1481px 1961px #ff7b00, 517px 1988px #ff7b00,
    642px 588px #ff7b00, 1835px 1441px #ff7b00, 569px 716px #ff7b00,
    1604px 572px #ff7b00, 1782px 441px #ff7b00, 1218px 503px #ff7b00,
    1402px 684px #ff7b00, 1303px 621px #ff7b00, 892px 641px #ff7b00,
    1254px 1496px #ff7b00, 234px 669px #ff7b00, 554px 1039px #ff7b00,
    312px 175px #ff7b00, 1243px 1897px #ff7b00, 234px 897px #ff7b00,
    1617px 437px #ff7b00, 687px 171px #ff7b00, 1821px 1883px #ff7b00,
    296px 1056px #ff7b00, 1046px 1205px #ff7b00, 577px 221px #ff7b00,
    886px 1764px #ff7b00, 473px 482px #ff7b00, 1556px 270px #ff7b00,
    1607px 352px #ff7b00, 1993px 685px #ff7b00, 109px 1592px #ff7b00,
    1335px 235px #ff7b00, 680px 548px #ff7b00, 1917px 1834px #ff7b00,
    865px 362px #ff7b00, 1349px 1092px #ff7b00, 475px 1491px #ff7b00,
    1096px 955px #ff7b00, 1863px 228px #ff7b00, 1635px 233px #ff7b00,
    1313px 1688px #ff7b00, 180px 1258px #ff7b00, 1397px 988px #ff7b00,
    882px 867px #ff7b00, 484px 912px #ff7b00, 1358px 837px #ff7b00,
    1821px 1229px #ff7b00, 1287px 1689px #ff7b00, 36px 880px #ff7b00,
    1594px 682px #ff7b00, 613px 195px #ff7b00, 1305px 941px #ff7b00,
    559px 1362px #ff7b00, 1142px 859px #ff7b00, 921px 850px #ff7b00,
    12px 1630px #ff7b00, 554px 979px #ff7b00, 1708px 1290px #ff7b00,
    1492px 1522px #ff7b00, 1112px 169px #ff7b00, 624px 48px #ff7b00,
    829px 1442px #ff7b00, 1018px 283px #ff7b00, 1433px 97px #ff7b00,
    1084px 1719px #ff7b00, 1794px 1900px #ff7b00, 1410px 1216px #ff7b00,
    1180px 341px #ff7b00, 135px 950px #ff7b00, 1306px 905px #ff7b00,
    651px 9px #ff7b00, 663px 770px #ff7b00, 566px 1280px #ff7b00,
    1930px 1879px #ff7b00, 418px 1230px #ff7b00, 1245px 1522px #ff7b00,
    1852px 1498px #ff7b00, 1634px 193px #ff7b00, 841px 1197px #ff7b00,
    661px 1667px #ff7b00, 291px 620px #ff7b00, 1527px 587px #ff7b00,
    818px 822px #ff7b00, 765px 1858px #ff7b00, 1270px 1151px #ff7b00,
    687px 918px #ff7b00, 404px 980px #ff7b00, 371px 773px #ff7b00,
    492px 238px #ff7b00, 115px 717px #ff7b00, 1164px 1120px #ff7b00,
    1036px 508px #ff7b00, 419px 96px #ff7b00, 883px 1048px #ff7b00,
    220px 929px #ff7b00, 1275px 1476px #ff7b00, 1633px 1370px #ff7b00,
    754px 316px #ff7b00, 1566px 1027px #ff7b00, 1728px 1410px #ff7b00,
    319px 1731px #ff7b00, 191px 1326px #ff7b00, 391px 1419px #ff7b00,
    1495px 1885px #ff7b00, 1393px 675px #ff7b00, 543px 720px #ff7b00,
    1254px 289px #ff7b00, 641px 1676px #ff7b00, 1391px 393px #ff7b00,
    1774px 1714px #ff7b00, 1079px 1130px #ff7b00, 1536px 141px #ff7b00,
    1121px 131px #ff7b00, 1045px 896px #ff7b00, 1719px 1476px #ff7b00,
    672px 1967px #ff7b00, 209px 1962px #ff7b00, 1504px 784px #ff7b00,
    1164px 1880px #ff7b00, 205px 1455px #ff7b00, 1090px 1043px #ff7b00,
    1648px 1369px #ff7b00, 905px 176px #ff7b00, 40px 1840px #ff7b00,
    357px 721px #ff7b00, 1262px 469px #ff7b00, 1889px 1140px #ff7b00,
    1706px 1487px #ff7b00, 98px 1723px #ff7b00, 1564px 332px #ff7b00,
    1688px 495px #ff7b00, 1844px 1691px #ff7b00, 1788px 1158px #ff7b00,
    1222px 1070px #ff7b00, 54px 605px #ff7b00, 1850px 1335px #ff7b00,
    1899px 776px #ff7b00, 1459px 1942px #ff7b00, 1370px 1906px #ff7b00,
    1017px 1359px #ff7b00, 1485px 859px #ff7b00, 405px 1235px #ff7b00,
    1529px 962px #ff7b00, 348px 74px #ff7b00, 165px 1114px #ff7b00,
    1972px 441px #ff7b00, 92px 1874px #ff7b00, 966px 253px #ff7b00,
    281px 733px #ff7b00, 1759px 1235px #ff7b00, 461px 1224px #ff7b00,
    1849px 234px #ff7b00, 1316px 457px #ff7b00, 390px 343px #ff7b00,
    1888px 1030px #ff7b00, 1705px 1778px #ff7b00, 734px 1365px #ff7b00,
    589px 1227px #ff7b00, 1586px 1163px #ff7b00, 768px 841px #ff7b00,
    1643px 1619px #ff7b00, 1527px 1909px #ff7b00, 249px 690px #ff7b00,
    1894px 209px #ff7b00, 269px 106px #ff7b00, 1040px 1323px #ff7b00,
    1162px 873px #ff7b00, 939px 1074px #ff7b00, 245px 842px #ff7b00,
    702px 657px #ff7b00, 1300px 286px #ff7b00, 1452px 419px #ff7b00,
    9px 318px #ff7b00, 1198px 1073px #ff7b00, 1449px 1463px #ff7b00,
    1207px 103px #ff7b00, 1532px 42px #ff7b00, 19px 874px #ff7b00,
    474px 720px #ff7b00, 1579px 579px #ff7b00, 814px 57px #ff7b00,
    939px 675px #ff7b00, 1407px 490px #ff7b00, 460px 565px #ff7b00,
    1314px 2000px #ff7b00, 567px 1187px #ff7b00, 197px 559px #ff7b00,
    10px 840px #ff7b00, 1149px 1455px #ff7b00, 1918px 867px #ff7b00,
    1992px 1999px #ff7b00, 912px 1824px #ff7b00, 124px 1015px #ff7b00,
    626px 1967px #ff7b00, 584px 626px #ff7b00, 896px 647px #ff7b00,
    1287px 682px #ff7b00, 1524px 1205px #ff7b00, 642px 682px #ff7b00,
    1846px 1584px #ff7b00, 1869px 1963px #ff7b00, 291px 1844px #ff7b00,
    1559px 1859px #ff7b00, 203px 1087px #ff7b00, 1277px 934px #ff7b00,
    1888px 818px #ff7b00, 202px 162px #ff7b00, 896px 1060px #ff7b00,
    1311px 1220px #ff7b00, 1738px 938px #ff7b00, 983px 161px #ff7b00,
    1258px 1900px #ff7b00, 1083px 401px #ff7b00, 882px 185px #ff7b00,
    594px 983px #ff7b00, 1128px 1106px #ff7b00, 401px 705px #ff7b00,
    873px 1121px #ff7b00, 1998px 260px #ff7b00, 192px 674px #ff7b00,
    1040px 1484px #ff7b00, 239px 1703px #ff7b00, 247px 311px #ff7b00,
    756px 1455px #ff7b00, 207px 1426px #ff7b00, 607px 720px #ff7b00,
    1701px 1005px #ff7b00, 82px 1273px #ff7b00, 1657px 1967px #ff7b00,
    23px 883px #ff7b00, 1678px 837px #ff7b00, 1314px 1208px #ff7b00,
    281px 1788px #ff7b00, 1428px 1804px #ff7b00, 1129px 1949px #ff7b00,
    1766px 268px #ff7b00, 1811px 248px #ff7b00, 1766px 1630px #ff7b00,
    944px 1194px #ff7b00, 894px 1402px #ff7b00, 1489px 618px #ff7b00,
    524px 1492px #ff7b00, 242px 1741px #ff7b00, 777px 1047px #ff7b00,
    271px 94px #ff7b00, 314px 161px #ff7b00, 382px 678px #ff7b00,
    339px 1526px #ff7b00, 1855px 354px #ff7b00, 1369px 841px #ff7b00,
    96px 889px #ff7b00, 20px 696px #ff7b00, 1503px 1325px #ff7b00,
    987px 366px #ff7b00, 330px 979px #ff7b00, 1076px 432px #ff7b00,
    131px 189px #ff7b00, 509px 943px #ff7b00, 646px 1321px #ff7b00,
    1453px 1349px #ff7b00, 538px 1519px #ff7b00, 1671px 1462px #ff7b00,
    1599px 301px #ff7b00, 1038px 1939px #ff7b00, 926px 591px #ff7b00,
    1445px 1418px #ff7b00, 847px 303px #ff7b00, 1310px 1349px #ff7b00,
    717px 1359px #ff7b00, 222px 591px #ff7b00, 17px 1400px #ff7b00,
    1394px 426px #ff7b00, 546px 1305px #ff7b00, 295px 1745px #ff7b00,
    105px 237px #ff7b00, 1041px 82px #ff7b00, 182px 982px #ff7b00,
    1822px 442px #ff7b00, 159px 326px #ff7b00, 1851px 1066px #ff7b00,
    1942px 272px #ff7b00, 437px 1615px #ff7b00, 1578px 1936px #ff7b00,
    1361px 143px #ff7b00, 1675px 519px #ff7b00, 1304px 894px #ff7b00,
    1415px 166px #ff7b00, 186px 80px #ff7b00, 1064px 1667px #ff7b00,
    1983px 1012px #ff7b00, 1663px 1901px #ff7b00, 1671px 530px #ff7b00,
    1353px 264px #ff7b00, 724px 1144px #ff7b00, 472px 207px #ff7b00,
    1498px 401px #ff7b00, 243px 462px #ff7b00, 37px 590px #ff7b00,
    1180px 1388px #ff7b00, 314px 532px #ff7b00, 1668px 1118px #ff7b00,
    528px 1661px #ff7b00, 767px 453px #ff7b00, 1346px 891px #ff7b00,
    954px 1156px #ff7b00, 993px 1002px #ff7b00, 879px 1576px #ff7b00,
    481px 86px #ff7b00, 788px 754px #ff7b00, 1499px 1664px #ff7b00,
    1468px 1640px #ff7b00, 1362px 1877px #ff7b00, 1886px 269px #ff7b00,
    1691px 1799px #ff7b00, 1130px 1149px #ff7b00, 484px 320px #ff7b00,
    102px 36px #ff7b00, 1423px 396px #ff7b00, 2000px 1005px #ff7b00,
    768px 1863px #ff7b00, 1791px 1679px #ff7b00, 1269px 1453px #ff7b00,
    1158px 938px #ff7b00, 1960px 1820px #ff7b00, 151px 1296px #ff7b00,
    214px 325px #ff7b00, 19px 1713px #ff7b00, 1684px 1276px #ff7b00,
    1093px 1054px #ff7b00, 1684px 87px #ff7b00, 962px 1473px #ff7b00,
    1840px 238px #ff7b00, 1563px 1367px #ff7b00, 1065px 627px #ff7b00,
    569px 1768px #ff7b00, 70px 456px #ff7b00, 1183px 960px #ff7b00,
    899px 1839px #ff7b00, 1875px 1652px #ff7b00, 1060px 549px #ff7b00,
    796px 575px #ff7b00, 34px 886px #ff7b00, 762px 388px #ff7b00,
    1702px 1057px #ff7b00, 591px 1549px #ff7b00, 297px 811px #ff7b00,
    593px 1079px #ff7b00, 1838px 1615px #ff7b00, 68px 1983px #ff7b00,
    1054px 1794px #ff7b00, 229px 1771px #ff7b00, 1726px 789px #ff7b00,
    833px 1032px #ff7b00, 622px 1043px #ff7b00, 1298px 789px #ff7b00,
    169px 1637px #ff7b00, 377px 1317px #ff7b00, 919px 1217px #ff7b00,
    146px 1581px #ff7b00, 1321px 597px #ff7b00, 1871px 577px #ff7b00,
    279px 1661px #ff7b00, 226px 1585px #ff7b00, 538px 419px #ff7b00,
    1495px 1262px #ff7b00, 58px 1421px #ff7b00, 1484px 180px #ff7b00,
    1824px 1742px #ff7b00, 63px 153px #ff7b00, 820px 1654px #ff7b00,
    1862px 158px #ff7b00, 6px 303px #ff7b00, 808px 1580px #ff7b00,
    1361px 44px #ff7b00, 1300px 158px #ff7b00, 1614px 165px #ff7b00,
    603px 226px #ff7b00, 383px 1085px #ff7b00, 1089px 539px #ff7b00,
    1536px 989px #ff7b00, 915px 1819px #ff7b00, 1560px 235px #ff7b00,
    1228px 1767px #ff7b00, 1546px 386px #ff7b00, 1203px 1322px #ff7b00,
    1290px 1063px #ff7b00, 506px 706px #ff7b00, 406px 521px #ff7b00,
    1102px 297px #ff7b00, 952px 896px #ff7b00, 1080px 477px #ff7b00,
    524px 1026px #ff7b00, 680px 1544px #ff7b00, 1654px 639px #ff7b00,
    845px 1980px #ff7b00, 1304px 1236px #ff7b00, 265px 1848px #ff7b00,
    1705px 809px #ff7b00, 1224px 708px #ff7b00, 780px 1891px #ff7b00,
    405px 1329px #ff7b00, 1236px 253px #ff7b00, 438px 1033px #ff7b00,
    1309px 830px #ff7b00, 794px 1564px #ff7b00, 35px 1646px #ff7b00,
    937px 1671px #ff7b00, 1473px 1608px #ff7b00, 1499px 210px #ff7b00,
    763px 1927px #ff7b00, 18px 1465px #ff7b00, 1352px 531px #ff7b00,
    1063px 1464px #ff7b00, 349px 480px #ff7b00, 1910px 476px #ff7b00,
    802px 1745px #ff7b00, 139px 1520px #ff7b00, 1804px 1510px #ff7b00,
    1654px 1038px #ff7b00, 1642px 740px #ff7b00, 315px 51px #ff7b00,
    1443px 1625px #ff7b00, 877px 126px #ff7b00, 768px 1493px #ff7b00,
    1995px 553px #ff7b00, 1234px 1101px #ff7b00, 404px 1037px #ff7b00,
    1751px 1618px #ff7b00, 1904px 671px #ff7b00, 1365px 943px #ff7b00,
    1829px 1502px #ff7b00, 1273px 325px #ff7b00, 1680px 51px #ff7b00,
    1450px 539px #ff7b00, 164px 445px #ff7b00, 1866px 989px #ff7b00,
    301px 1090px #ff7b00, 935px 1225px #ff7b00, 378px 1760px #ff7b00,
    607px 549px #ff7b00, 646px 1947px #ff7b00, 1056px 1273px #ff7b00,
    991px 989px #ff7b00, 278px 115px #ff7b00, 1547px 58px #ff7b00,
    223px 876px #ff7b00, 1957px 94px #ff7b00, 1016px 674px #ff7b00,
    1035px 476px #ff7b00, 1794px 1536px #ff7b00, 1284px 1052px #ff7b00,
    932px 1616px #ff7b00, 377px 309px #ff7b00, 67px 275px #ff7b00,
    1377px 185px #ff7b00, 310px 1304px #ff7b00, 1793px 551px #ff7b00,
    620px 1269px #ff7b00, 742px 1991px #ff7b00, 513px 1625px #ff7b00,
    948px 1276px #ff7b00, 750px 1928px #ff7b00, 690px 941px #ff7b00,
    1487px 468px #ff7b00, 59px 1504px #ff7b00, 1554px 958px #ff7b00,
    225px 1062px #ff7b00, 655px 832px #ff7b00, 132px 1466px #ff7b00,
    2000px 971px #ff7b00, 289px 234px #ff7b00, 852px 754px #ff7b00,
    1131px 1666px #ff7b00, 942px 427px #ff7b00, 1674px 1133px #ff7b00,
    1668px 552px #ff7b00, 929px 1353px #ff7b00, 1213px 963px #ff7b00,
    1617px 919px #ff7b00, 38px 145px #ff7b00, 56px 1030px #ff7b00,
    1621px 835px #ff7b00, 423px 509px #ff7b00, 1403px 1195px #ff7b00,
    1378px 1468px #ff7b00, 561px 1625px #ff7b00, 258px 929px #ff7b00,
    1475px 1127px #ff7b00, 1443px 177px #ff7b00, 1660px 1771px #ff7b00,
    817px 1328px #ff7b00, 1822px 1002px #ff7b00, 1565px 237px #ff7b00,
    1377px 638px #ff7b00, 619px 424px #ff7b00, 753px 1182px #ff7b00,
    502px 674px #ff7b00, 1100px 788px #ff7b00, 931px 515px #ff7b00,
    1716px 689px #ff7b00, 591px 270px #ff7b00, 272px 627px #ff7b00,
    1576px 466px #ff7b00, 1401px 1809px #ff7b00, 1375px 997px #ff7b00,
    1133px 1556px #ff7b00, 1326px 439px #ff7b00, 1801px 1445px #ff7b00,
    409px 447px #ff7b00, 212px 617px #ff7b00, 1438px 1766px #ff7b00,
    410px 767px #ff7b00, 82px 1180px #ff7b00, 973px 438px #ff7b00,
    1056px 27px #ff7b00, 1104px 137px #ff7b00, 889px 1330px #ff7b00,
    1017px 1867px #ff7b00, 746px 1519px #ff7b00, 1441px 942px #ff7b00,
    139px 1013px #ff7b00, 1966px 1812px #ff7b00, 967px 1057px #ff7b00,
    356px 840px #ff7b00, 400px 1283px #ff7b00, 1424px 1306px #ff7b00,
    720px 726px #ff7b00, 402px 1889px #ff7b00, 445px 1627px #ff7b00,
    1021px 1535px #ff7b00, 614px 166px #ff7b00, 1452px 1021px #ff7b00,
    1292px 1620px #ff7b00, 1245px 1553px #ff7b00, 1939px 275px #ff7b00,
    1975px 1462px #ff7b00, 1865px 210px #ff7b00, 846px 1994px #ff7b00,
    8px 1539px #ff7b00, 714px 407px #ff7b00, 1199px 1367px #ff7b00,
    673px 464px #ff7b00, 1745px 1811px #ff7b00, 1140px 1036px #ff7b00,
    899px 1086px #ff7b00, 1740px 496px #ff7b00, 1311px 267px #ff7b00,
    1995px 1514px #ff7b00, 1133px 760px #ff7b00, 1688px 1836px #ff7b00,
    626px 366px #ff7b00, 37px 1495px #ff7b00, 834px 1255px #ff7b00,
    1605px 1505px #ff7b00, 732px 1912px #ff7b00, 872px 440px #ff7b00,
    324px 1686px #ff7b00, 403px 279px #ff7b00, 1358px 1038px #ff7b00,
    1274px 226px #ff7b00, 505px 1352px #ff7b00, 355px 1061px #ff7b00,
    1064px 697px #ff7b00, 1022px 684px #ff7b00, 1062px 1742px #ff7b00,
    1007px 993px #ff7b00, 645px 1324px #ff7b00, 1348px 549px #ff7b00,
    906px 483px #ff7b00, 1319px 1472px #ff7b00, 128px 1454px #ff7b00,
    20px 1360px #ff7b00, 1189px 1519px #ff7b00, 1050px 853px #ff7b00,
    1696px 1017px #ff7b00, 29px 1907px #ff7b00, 1017px 638px #ff7b00,
    1905px 882px #ff7b00, 160px 1033px #ff7b00, 1043px 843px #ff7b00,
    1529px 121px #ff7b00, 382px 673px #ff7b00, 1399px 452px #ff7b00,
    1342px 1265px #ff7b00, 614px 1479px #ff7b00, 217px 1222px #ff7b00,
    1183px 441px #ff7b00, 588px 89px #ff7b00, 899px 1837px #ff7b00,
    1708px 1661px #ff7b00, 1150px 1770px #ff7b00, 1296px 1742px #ff7b00,
    848px 1464px #ff7b00, 1613px 1686px #ff7b00, 416px 1047px #ff7b00,
    447px 483px #ff7b00, 307px 1444px #ff7b00, 1904px 1490px #ff7b00,
    1493px 777px #ff7b00, 906px 800px #ff7b00, 1529px 70px #ff7b00,
    846px 456px #ff7b00, 1250px 1288px #ff7b00, 767px 245px #ff7b00,
    794px 723px #ff7b00, 990px 1653px #ff7b00, 1201px 1952px #ff7b00,
    1815px 537px #ff7b00, 106px 1958px #ff7b00, 146px 867px #ff7b00,
    1923px 1731px #ff7b00, 87px 877px #ff7b00, 1663px 1769px #ff7b00,
    1233px 228px #ff7b00, 544px 378px #ff7b00, 182px 1800px #ff7b00,
    53px 1661px #ff7b00, 635px 988px #ff7b00, 1490px 1199px #ff7b00,
    1015px 732px #ff7b00, 595px 1970px #ff7b00, 870px 1596px #ff7b00,
    1755px 913px #ff7b00, 1785px 735px #ff7b00, 212px 299px #ff7b00,
    915px 1895px #ff7b00, 1818px 1568px #ff7b00, 1326px 135px #ff7b00,
    1436px 111px #ff7b00, 561px 1695px #ff7b00, 232px 439px #ff7b00,
    1660px 1435px #ff7b00, 201px 1725px #ff7b00, 1466px 904px #ff7b00,
    467px 1067px #ff7b00, 471px 536px #ff7b00, 685px 705px #ff7b00,
    1911px 315px #ff7b00, 324px 1050px #ff7b00, 1412px 26px #ff7b00,
    210px 295px #ff7b00, 356px 1553px #ff7b00, 1673px 1275px #ff7b00,
    899px 1252px #ff7b00, 1630px 630px #ff7b00, 1538px 984px #ff7b00,
    1330px 1099px #ff7b00, 1449px 550px #ff7b00, 807px 881px #ff7b00,
    1344px 1334px #ff7b00, 1529px 1838px #ff7b00, 1624px 1320px #ff7b00,
    75px 1206px #ff7b00, 1261px 1201px #ff7b00, 1515px 1577px #ff7b00,
    1233px 47px #ff7b00, 486px 140px #ff7b00, 1591px 1386px #ff7b00,
    196px 688px #ff7b00, 855px 1086px #ff7b00, 538px 1551px #ff7b00,
    1019px 1122px #ff7b00, 665px 1600px #ff7b00, 1666px 1979px #ff7b00,
    1329px 557px #ff7b00, 1213px 1281px #ff7b00, 1784px 1614px #ff7b00,
    1766px 30px #ff7b00, 831px 1591px #ff7b00, 1589px 207px #ff7b00,
    1660px 1151px #ff7b00;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1037px 1342px #b22222, 18px 261px #b22222, 1361px 975px #b22222,
    1760px 687px #b22222, 846px 1551px #b22222, 1070px 740px #b22222,
    1671px 25px #b22222, 377px 1908px #b22222, 1652px 246px #b22222,
    864px 1187px #b22222, 1467px 1942px #b22222, 1629px 535px #b22222,
    1850px 7px #b22222, 781px 146px #b22222, 488px 1312px #b22222,
    1920px 1882px #b22222, 893px 1848px #b22222, 1790px 1093px #b22222,
    1802px 1342px #b22222, 1455px 1622px #b22222, 305px 1139px #b22222,
    546px 1406px #b22222, 37px 350px #b22222, 717px 1900px #b22222,
    61px 1980px #b22222, 1301px 216px #b22222, 183px 1880px #b22222,
    1930px 1504px #b22222, 1340px 1399px #b22222, 427px 960px #b22222,
    478px 287px #b22222, 1765px 587px #b22222, 725px 1301px #b22222,
    1609px 247px #b22222, 477px 1303px #b22222, 696px 915px #b22222,
    1263px 937px #b22222, 1977px 1330px #b22222, 1384px 234px #b22222,
    1705px 689px #b22222, 217px 993px #b22222, 1372px 1869px #b22222,
    626px 403px #b22222, 1802px 229px #b22222, 346px 485px #b22222,
    1092px 1486px #b22222, 100px 67px #b22222, 573px 753px #b22222,
    78px 1507px #b22222, 30px 263px #b22222, 1639px 411px #b22222,
    1043px 1494px #b22222, 1864px 253px #b22222, 1350px 1256px #b22222,
    1553px 67px #b22222, 737px 27px #b22222, 580px 563px #b22222,
    858px 485px #b22222, 1506px 1776px #b22222, 1221px 102px #b22222,
    1390px 1232px #b22222, 1231px 929px #b22222, 1788px 869px #b22222,
    27px 1747px #b22222, 1547px 985px #b22222, 534px 1350px #b22222,
    176px 1376px #b22222, 767px 1212px #b22222, 1113px 17px #b22222,
    1520px 39px #b22222, 643px 1839px #b22222, 729px 1869px #b22222,
    1871px 765px #b22222, 480px 398px #b22222, 644px 733px #b22222,
    421px 1767px #b22222, 800px 1741px #b22222, 309px 115px #b22222,
    84px 383px #b22222, 1444px 376px #b22222, 1823px 789px #b22222,
    576px 1994px #b22222, 240px 909px #b22222, 1795px 42px #b22222,
    802px 548px #b22222, 1687px 1701px #b22222, 1261px 1896px #b22222,
    1393px 1515px #b22222, 475px 1467px #b22222, 1882px 150px #b22222,
    1451px 695px #b22222, 995px 53px #b22222, 946px 726px #b22222,
    1521px 642px #b22222, 608px 832px #b22222, 538px 1587px #b22222,
    890px 462px #b22222, 679px 1884px #b22222, 1720px 1019px #b22222,
    1235px 1468px #b22222, 1248px 1465px #b22222, 513px 28px #b22222,
    1356px 1823px #b22222, 1903px 259px #b22222, 1400px 1060px #b22222,
    1485px 440px #b22222, 1786px 1228px #b22222, 565px 426px #b22222,
    1064px 1401px #b22222, 1926px 1928px #b22222, 1416px 141px #b22222,
    1046px 1133px #b22222, 1025px 1956px #b22222, 1315px 295px #b22222,
    1245px 67px #b22222, 1336px 478px #b22222, 847px 1820px #b22222,
    1067px 603px #b22222, 1138px 791px #b22222, 627px 950px #b22222,
    1336px 507px #b22222, 1284px 375px #b22222, 203px 331px #b22222,
    808px 1305px #b22222, 294px 1550px #b22222, 972px 820px #b22222,
    213px 1742px #b22222, 795px 979px #b22222, 1364px 1522px #b22222,
    944px 784px #b22222, 1199px 708px #b22222, 625px 78px #b22222,
    746px 59px #b22222, 1043px 555px #b22222, 153px 104px #b22222,
    1778px 389px #b22222, 1468px 290px #b22222, 1347px 897px #b22222,
    108px 1420px #b22222, 636px 1079px #b22222, 450px 177px #b22222,
    1779px 508px #b22222, 1771px 485px #b22222, 449px 1697px #b22222,
    147px 504px #b22222, 1667px 1601px #b22222, 184px 1305px #b22222,
    425px 1077px #b22222, 1173px 1135px #b22222, 832px 483px #b22222,
    607px 1520px #b22222, 987px 1048px #b22222, 1694px 318px #b22222,
    1418px 143px #b22222, 1238px 494px #b22222, 1730px 1086px #b22222,
    195px 51px #b22222, 942px 1925px #b22222, 1716px 1385px #b22222,
    71px 359px #b22222, 1358px 982px #b22222, 757px 30px #b22222,
    471px 153px #b22222, 49px 1650px #b22222, 224px 481px #b22222,
    696px 950px #b22222, 278px 629px #b22222, 931px 1637px #b22222,
    1381px 99px #b22222, 1579px 115px #b22222, 535px 1269px #b22222,
    1452px 1542px #b22222, 1332px 1656px #b22222, 1048px 835px #b22222,
    1386px 1867px #b22222, 15px 838px #b22222, 1481px 716px #b22222,
    717px 1227px #b22222, 1514px 28px #b22222, 488px 97px #b22222,
    794px 1192px #b22222, 925px 529px #b22222, 417px 1612px #b22222,
    1047px 1276px #b22222, 1597px 290px #b22222, 652px 749px #b22222,
    821px 1818px #b22222, 1565px 644px #b22222, 855px 325px #b22222,
    1793px 855px #b22222, 962px 1762px #b22222, 883px 262px #b22222,
    1095px 1836px #b22222, 975px 571px #b22222, 846px 848px #b22222,
    1378px 250px #b22222, 1454px 790px #b22222, 1699px 1150px #b22222,
    89px 1628px #b22222, 741px 282px #b22222;
  -webkit-animation: animStar 100s linear infinite;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1037px 1342px #b22222, 18px 261px #b22222, 1361px 975px #b22222,
    1760px 687px #b22222, 846px 1551px #b22222, 1070px 740px #b22222,
    1671px 25px #b22222, 377px 1908px #b22222, 1652px 246px #b22222,
    864px 1187px #b22222, 1467px 1942px #b22222, 1629px 535px #b22222,
    1850px 7px #b22222, 781px 146px #b22222, 488px 1312px #b22222,
    1920px 1882px #b22222, 893px 1848px #b22222, 1790px 1093px #b22222,
    1802px 1342px #b22222, 1455px 1622px #b22222, 305px 1139px #b22222,
    546px 1406px #b22222, 37px 350px #b22222, 717px 1900px #b22222,
    61px 1980px #b22222, 1301px 216px #b22222, 183px 1880px #b22222,
    1930px 1504px #b22222, 1340px 1399px #b22222, 427px 960px #b22222,
    478px 287px #b22222, 1765px 587px #b22222, 725px 1301px #b22222,
    1609px 247px #b22222, 477px 1303px #b22222, 696px 915px #b22222,
    1263px 937px #b22222, 1977px 1330px #b22222, 1384px 234px #b22222,
    1705px 689px #b22222, 217px 993px #b22222, 1372px 1869px #b22222,
    626px 403px #b22222, 1802px 229px #b22222, 346px 485px #b22222,
    1092px 1486px #b22222, 100px 67px #b22222, 573px 753px #b22222,
    78px 1507px #b22222, 30px 263px #b22222, 1639px 411px #b22222,
    1043px 1494px #b22222, 1864px 253px #b22222, 1350px 1256px #b22222,
    1553px 67px #b22222, 737px 27px #b22222, 580px 563px #b22222,
    858px 485px #b22222, 1506px 1776px #b22222, 1221px 102px #b22222,
    1390px 1232px #b22222, 1231px 929px #b22222, 1788px 869px #b22222,
    27px 1747px #b22222, 1547px 985px #b22222, 534px 1350px #b22222,
    176px 1376px #b22222, 767px 1212px #b22222, 1113px 17px #b22222,
    1520px 39px #b22222, 643px 1839px #b22222, 729px 1869px #b22222,
    1871px 765px #b22222, 480px 398px #b22222, 644px 733px #b22222,
    421px 1767px #b22222, 800px 1741px #b22222, 309px 115px #b22222,
    84px 383px #b22222, 1444px 376px #b22222, 1823px 789px #b22222,
    576px 1994px #b22222, 240px 909px #b22222, 1795px 42px #b22222,
    802px 548px #b22222, 1687px 1701px #b22222, 1261px 1896px #b22222,
    1393px 1515px #b22222, 475px 1467px #b22222, 1882px 150px #b22222,
    1451px 695px #b22222, 995px 53px #b22222, 946px 726px #b22222,
    1521px 642px #b22222, 608px 832px #b22222, 538px 1587px #b22222,
    890px 462px #b22222, 679px 1884px #b22222, 1720px 1019px #b22222,
    1235px 1468px #b22222, 1248px 1465px #b22222, 513px 28px #b22222,
    1356px 1823px #b22222, 1903px 259px #b22222, 1400px 1060px #b22222,
    1485px 440px #b22222, 1786px 1228px #b22222, 565px 426px #b22222,
    1064px 1401px #b22222, 1926px 1928px #b22222, 1416px 141px #b22222,
    1046px 1133px #b22222, 1025px 1956px #b22222, 1315px 295px #b22222,
    1245px 67px #b22222, 1336px 478px #b22222, 847px 1820px #b22222,
    1067px 603px #b22222, 1138px 791px #b22222, 627px 950px #b22222,
    1336px 507px #b22222, 1284px 375px #b22222, 203px 331px #b22222,
    808px 1305px #b22222, 294px 1550px #b22222, 972px 820px #b22222,
    213px 1742px #b22222, 795px 979px #b22222, 1364px 1522px #b22222,
    944px 784px #b22222, 1199px 708px #b22222, 625px 78px #b22222,
    746px 59px #b22222, 1043px 555px #b22222, 153px 104px #b22222,
    1778px 389px #b22222, 1468px 290px #b22222, 1347px 897px #b22222,
    108px 1420px #b22222, 636px 1079px #b22222, 450px 177px #b22222,
    1779px 508px #b22222, 1771px 485px #b22222, 449px 1697px #b22222,
    147px 504px #b22222, 1667px 1601px #b22222, 184px 1305px #b22222,
    425px 1077px #b22222, 1173px 1135px #b22222, 832px 483px #b22222,
    607px 1520px #b22222, 987px 1048px #b22222, 1694px 318px #b22222,
    1418px 143px #b22222, 1238px 494px #b22222, 1730px 1086px #b22222,
    195px 51px #b22222, 942px 1925px #b22222, 1716px 1385px #b22222,
    71px 359px #b22222, 1358px 982px #b22222, 757px 30px #b22222,
    471px 153px #b22222, 49px 1650px #b22222, 224px 481px #b22222,
    696px 950px #b22222, 278px 629px #b22222, 931px 1637px #b22222,
    1381px 99px #b22222, 1579px 115px #b22222, 535px 1269px #b22222,
    1452px 1542px #b22222, 1332px 1656px #b22222, 1048px 835px #b22222,
    1386px 1867px #b22222, 15px 838px #b22222, 1481px 716px #b22222,
    717px 1227px #b22222, 1514px 28px #b22222, 488px 97px #b22222,
    794px 1192px #b22222, 925px 529px #b22222, 417px 1612px #b22222,
    1047px 1276px #b22222, 1597px 290px #b22222, 652px 749px #b22222,
    821px 1818px #b22222, 1565px 644px #b22222, 855px 325px #b22222,
    1793px 855px #b22222, 962px 1762px #b22222, 883px 262px #b22222,
    1095px 1836px #b22222, 975px 571px #b22222, 846px 848px #b22222,
    1378px 250px #b22222, 1454px 790px #b22222, 1699px 1150px #b22222,
    89px 1628px #b22222, 741px 282px #b22222;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 402px 1645px #f4a460, 550px 643px #f4a460, 634px 725px #f4a460,
    1715px 1562px #f4a460, 1981px 1501px #f4a460, 1605px 878px #f4a460,
    1690px 1007px #f4a460, 416px 1068px #f4a460, 522px 1469px #f4a460,
    1811px 714px #f4a460, 1584px 816px #f4a460, 1560px 1492px #f4a460,
    1281px 1996px #f4a460, 1341px 1602px #f4a460, 974px 1758px #f4a460,
    1174px 424px #f4a460, 1705px 7px #f4a460, 945px 1080px #f4a460,
    274px 1885px #f4a460, 512px 1679px #f4a460, 572px 1110px #f4a460,
    666px 1073px #f4a460, 1171px 95px #f4a460, 697px 1877px #f4a460,
    1136px 513px #f4a460, 552px 1434px #f4a460, 1182px 529px #f4a460,
    375px 113px #f4a460, 86px 161px #f4a460, 1510px 252px #f4a460,
    1283px 14px #f4a460, 210px 1581px #f4a460, 1619px 1470px #f4a460,
    178px 334px #f4a460, 1603px 73px #f4a460, 1664px 1924px #f4a460,
    787px 1737px #f4a460, 1437px 1178px #f4a460, 668px 1824px #f4a460,
    921px 1665px #f4a460, 1348px 1428px #f4a460, 1326px 56px #f4a460,
    1809px 1008px #f4a460, 1996px 819px #f4a460, 1071px 726px #f4a460,
    134px 94px #f4a460, 1079px 543px #f4a460, 486px 1519px #f4a460,
    87px 1597px #f4a460, 450px 582px #f4a460, 697px 948px #f4a460,
    537px 1900px #f4a460, 709px 42px #f4a460, 1935px 1062px #f4a460,
    1335px 1343px #f4a460, 823px 1411px #f4a460, 321px 379px #f4a460,
    956px 683px #f4a460, 662px 1992px #f4a460, 1231px 1749px #f4a460,
    1398px 1743px #f4a460, 292px 1513px #f4a460, 1727px 66px #f4a460,
    487px 142px #f4a460, 1602px 171px #f4a460, 565px 1748px #f4a460,
    1755px 1997px #f4a460, 1858px 493px #f4a460, 154px 1205px #f4a460,
    1772px 190px #f4a460, 892px 1669px #f4a460, 1378px 546px #f4a460,
    939px 390px #f4a460, 1417px 775px #f4a460, 934px 1726px #f4a460,
    1666px 1950px #f4a460, 1645px 1377px #f4a460, 1630px 1518px #f4a460,
    1516px 889px #f4a460, 1034px 1997px #f4a460, 278px 1953px #f4a460,
    473px 267px #f4a460, 203px 397px #f4a460, 361px 612px #f4a460,
    1863px 1403px #f4a460, 1430px 1150px #f4a460, 447px 340px #f4a460,
    1943px 946px #f4a460, 1301px 831px #f4a460, 1904px 584px #f4a460,
    198px 637px #f4a460, 906px 283px #f4a460, 1671px 18px #f4a460,
    1741px 1914px #f4a460, 612px 833px #f4a460, 1149px 1874px #f4a460,
    97px 1814px #f4a460, 1613px 1466px #f4a460, 496px 724px #f4a460,
    768px 1216px #f4a460;
  -webkit-animation: animStar 150s linear infinite;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 402px 1645px #f4a460, 550px 643px #f4a460, 634px 725px #f4a460,
    1715px 1562px #f4a460, 1981px 1501px #f4a460, 1605px 878px #f4a460,
    1690px 1007px #f4a460, 416px 1068px #f4a460, 522px 1469px #f4a460,
    1811px 714px #f4a460, 1584px 816px #f4a460, 1560px 1492px #f4a460,
    1281px 1996px #f4a460, 1341px 1602px #f4a460, 974px 1758px #f4a460,
    1174px 424px #f4a460, 1705px 7px #f4a460, 945px 1080px #f4a460,
    274px 1885px #f4a460, 512px 1679px #f4a460, 572px 1110px #f4a460,
    666px 1073px #f4a460, 1171px 95px #f4a460, 697px 1877px #f4a460,
    1136px 513px #f4a460, 552px 1434px #f4a460, 1182px 529px #f4a460,
    375px 113px #f4a460, 86px 161px #f4a460, 1510px 252px #f4a460,
    1283px 14px #f4a460, 210px 1581px #f4a460, 1619px 1470px #f4a460,
    178px 334px #f4a460, 1603px 73px #f4a460, 1664px 1924px #f4a460,
    787px 1737px #f4a460, 1437px 1178px #f4a460, 668px 1824px #f4a460,
    921px 1665px #f4a460, 1348px 1428px #f4a460, 1326px 56px #f4a460,
    1809px 1008px #f4a460, 1996px 819px #f4a460, 1071px 726px #f4a460,
    134px 94px #f4a460, 1079px 543px #f4a460, 486px 1519px #f4a460,
    87px 1597px #f4a460, 450px 582px #f4a460, 697px 948px #f4a460,
    537px 1900px #f4a460, 709px 42px #f4a460, 1935px 1062px #f4a460,
    1335px 1343px #f4a460, 823px 1411px #f4a460, 321px 379px #f4a460,
    956px 683px #f4a460, 662px 1992px #f4a460, 1231px 1749px #f4a460,
    1398px 1743px #f4a460, 292px 1513px #f4a460, 1727px 66px #f4a460,
    487px 142px #f4a460, 1602px 171px #f4a460, 565px 1748px #f4a460,
    1755px 1997px #f4a460, 1858px 493px #f4a460, 154px 1205px #f4a460,
    1772px 190px #f4a460, 892px 1669px #f4a460, 1378px 546px #f4a460,
    939px 390px #f4a460, 1417px 775px #f4a460, 934px 1726px #f4a460,
    1666px 1950px #f4a460, 1645px 1377px #f4a460, 1630px 1518px #f4a460,
    1516px 889px #f4a460, 1034px 1997px #f4a460, 278px 1953px #f4a460,
    473px 267px #f4a460, 203px 397px #f4a460, 361px 612px #f4a460,
    1863px 1403px #f4a460, 1430px 1150px #f4a460, 447px 340px #f4a460,
    1943px 946px #f4a460, 1301px 831px #f4a460, 1904px 584px #f4a460,
    198px 637px #f4a460, 906px 283px #f4a460, 1671px 18px #f4a460,
    1741px 1914px #f4a460, 612px 833px #f4a460, 1149px 1874px #f4a460,
    97px 1814px #f4a460, 1613px 1466px #f4a460, 496px 724px #f4a460,
    768px 1216px #f4a460;
}

@-webkit-keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

.section {
  width: 100%;
  max-width: 1200px;
  padding: 30px 0 0;
  margin: 0 auto;
}

.section__heading {
  margin: 0 0 20px;
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
  text-align: left;
  color: #ff3c00;
}
